  <!-- Main content -->
<section class="content">
   <div class="box box-primary">
    <div class="box-header">
       <h3 class="box-title">Dados orçamento</h3>
          <div class="box-body">

         <div class="row">
          <div class="col-lg-3" > 
             <label>Forma Pagamento: </label><%=@orcamentoempresa.orcamento.formapagamento%>
          </div>
          <div class="col-lg-9" > 
             <label>Preferências: </label>  <%= @orcamentoempresa.orcamento.flag_referencia ? "Referência," : "" %>
             								<%= @orcamentoempresa.orcamento.flag_generico ? " Genérico," : "" %>
             								<%= @orcamentoempresa.orcamento.flag_similar ? "Similar" : "" %>
          </div>

         </div> 
         <div class="row">
           <div class="col-lg-8" >                  
                  <h4><strong>Produtos:</strong></h4>
                  <ol>
                     <%@orcamentoempresa.orcamento.produtoorcamento.each do |produtoorcamento| %>
				        <li><%=produtoorcamento.produto.nome%> - <%=produtoorcamento.produto.apresentacao%></li>
				      <%end%>
                  </ol>	    
	       </div>
	       <div class="col-lg-4">
		      <%= link_to receber_orcamento_orcamentorealizado_path(@orcamentoempresa), class: "btn btn-danger btn-lg" do %>
		                  Fazer Orçamento <span class="fa fa-dollar"></span>
		      <% end %>
	      </div>
	  </div>
     </div>
    </div>
  </div><!-- /.box -->

    <div class="box box-primary">
    <div class="box-header">
       <h3 class="box-title">Receita</h3>
          <div class="box-body">
		<div class="panel panel-default">
		  <div class="panel-body text-center">
		  	<%= form_for(@orcamentoempresa.orcamento) do |f| %>
				<div class="row"> 
							      <%=f.fields_for :fotoorcamento do |foto|%>
									  <% unless foto.object.new_record? %>
									   <%= link_to image_tag(foto.object.foto.url(:original))
									        %>
									  <%end%>
									<%end%>
			      </div>         
			 <%end%>					 
		  </div>
		</div>
     </div>
    </div>
     </div><!-- /.box -->
</section><!-- /.content -->


<style type="text/css">
	
	img {
	  max-width:100%;
	  max-height:100%	
    }

</style>



    
     
       
   
        












