 <%@estiloMensagem = "alert alert-success alert-dismissable"%>
<%if notice %>  
    <!-- Content Header (Page header) -->
  <section class="content-header">
       <!--Mensagens aqui-->
           <section class="content-header">
             <div class= "<%=@estiloMensagem%>" >
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <h4>  <i class="icon fa fa-check"></i> Pronto</h4>
                              <%=notice%>
            </div>
        </section>
  </section>  
<%end%>

   <!-- Main content -->
 <section class="content">
 <%= link_to criaOrcamento_path, class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-file"></span>Novo Orçamento
 <% end %>

  <br>
  <br>
 <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <!-- The time line -->
              <ul class="timeline">
            <%@orcamentos.each do |orcamento| %>

                <% qdt = Orcamentorealizado.qtd_orcamento_realizado(orcamento.id).count%>  
                <li>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> <%=orcamento.created_at.strftime("%R - %d/%m/%Y")%></span>
                    <h3 class="timeline-header"><%= link_to orcamento.nome, edit_orcamento_path(orcamento)%></h3>
                    <div class="timeline-footer">
                      <%#= link_to orcamento, class: "btn btn-primary btn-sm" do %>
                         
                      <%# end %>
      
                      <%= link_to orcamento, class: "btn btn-warning btn-sm" do %>
                         Respostas
                        <span aria-hidden="true"><small class="label bg-red"><%=qdt%></small></span> 
                      <% end %>
                   
                    </div>
                  </div>
                </li>
                <%end%>
                <li>
                </li>
              </ul>
            </div><!-- /.col -->
          </div><!-- /.row -->
</section>
