<p id="notice"><%= notice %></p>

<h1>Listing Orcamentorealizados</h1>

<table>
  <thead>
    <tr>
      <th>Valor orcamento</th>
      <th>Valor desconto</th>
      <th>Porcentagemdesconto</th>
      <th>Valor total</th>
      <th>Situacaoorcamento</th>
      <th>Orcamentoempresa</th>
      <th>Mensagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orcamentorealizados.each do |orcamentorealizado| %>
      <tr>
        <td><%= orcamentorealizado.valor_orcamento %></td>
        <td><%= orcamentorealizado.valor_desconto %></td>
        <td><%= orcamentorealizado.porcentagemdesconto %></td>
        <td><%= orcamentorealizado.valor_total %></td>
        <td><%= orcamentorealizado.situacaoorcamento %></td>
        <td><%= orcamentorealizado.orcamentoempresa %></td>
        <td><%= orcamentorealizado.mensagem %></td>
        <td><%= link_to 'Show', orcamentorealizado %></td>
        <td><%= link_to 'Edit', edit_orcamentorealizado_path(orcamentorealizado) %></td>
        <td><%= link_to 'Destroy', orcamentorealizado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orcamentorealizado', new_orcamentorealizado_path %>
